<div class="layout">

  <!-- SIDEBAR -->
  <div class="sidebar" [class.closed]="!sidebarOpen">

    <h2 class="logo" *ngIf="sidebarOpen">MiApp</h2>

    <button class="menu-btn" routerLink="/dashboard/home">Home</button>
    <button class="menu-btn" routerLink="/dashboard/group">Group</button>
    <button class="menu-btn" routerLink="/dashboard/user">User</button>

    <button class="logout-btn" (click)="logout()">
      Cerrar sesión
    </button>

  </div>

  <!-- ZONA DERECHA -->
  <div class="main-area">

    <!-- NAVBAR -->
    <div class="navbar">
      <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
      <span>Dashboard > {{ pageTitle }}</span>
    </div>

    <!-- CONTENIDO -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>